<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>

		<File name="MyFile" fileName="logs/app.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>

		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="ConsoleAppender" />
		</Root>
		<logger name="api" level="INFO" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
		</logger>
		
		<logger name="db.neo4j" level="INFO" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
		</logger>
	</Loggers>
</Configuration>